*{
    margin: 0%;
    padding: 0%;
}

body{
    background-color: rgb(36, 34, 34);
}

.up-part{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img{
    border: 2px solid whitesmoke;
    border-top: -110px;
    margin: 0%;
    position: relative;
    top: 4pc;
    left: 35pc;
}

#my-img{
    height: 80vh;
    padding: 5px;
}

.name{
    position: relative;
    right: 24pc;
    bottom: 13pc;
}

.sty-name{
    font-weight: 200;
    padding: 15px;
    color: rgb(255, 97, 97);
    font-size: 34px;
    position: relative;
    top: 7px;
}

.mid-part{
    color: white;
    position: relative;
    top: -20pc;
}

.head{
    position: relative;
    top: -2pc;
    margin-left: 19pc;
    font-weight: 100;

}

p{
    margin-left: 12px;
    font-weight: 100;
    font-size: 17px;
}

.Intro{
    position: relative;
    top: -4px;
    margin-left: 4pc;
}

.Intro-2{
    position: relative;
    margin-left: 3pc;
}

.logos{
    display: flex;
    gap: 20px;
    position: relative;
    top: -12pc;
    right: 28px;
}

.logo{
    height: 50vh;
    margin-left: 10pc;
}
