*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #a5c3ff, #96bcff, #6947ff, #2575fc)
}

.details-form{
    background: white;
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(24, 24, 24, 0.833);
    width: 350px;
}

form{
    position: relative;
    bottom: 4pc;
}

h1{
    text-align: center;
    position: relative;
    bottom: 6pc;
    color: #1c0df4;
}

form label {
  display: block;
  margin-bottom: 5px;
  color: #2709e78f;
}

form input, form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: border 0.3s ease;
}

form input:focus, form select:focus {
  border-color: #2575fc;
}


.but{
    height: 50px;
    width: 100px;
    position: relative;
    left: 78px;
    top: 15px;
    border-radius: 34px;
    color: #0d32d9ba;
    box-sizing: content-box;
    border: none;
    background: linear-gradient(#04d3fc, #36abf4, #44ccf5, #0066ff);
    cursor: pointer;
    
}

.but:focus{
    background: linear-gradient(#fcfcfc, #dedede, #ffffffb5, #ffffff96);
}
